.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-shape-1 {
  width: 639px;
  height: 586px;
  animation-duration: 1000ms;
  margin: 123px -53px 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin: -649px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 681px;
  animation-duration: 4000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 70px 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 5.625rem;
  line-height: 1;
  font-weight: 400;
  animation-duration: 1000ms;
  margin: 0 -143px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 29px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 76px;
  min-height: 16px;
  width: 332px;
  min-width: 94px;
  animation-duration: 1000ms;
  margin: 73px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 76px;
}

.u-section-1 .u-icon-2 {
  height: 76px;
}

.u-section-1 .u-icon-3 {
  height: 76px;
}

.u-section-1 .u-icon-4 {
  height: 76px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 681px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 538px;
  width: 538px;
  background-image: url("images/rfd-min.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 30px auto 0 0;
}

.u-section-1 .u-gallery-1 {
  height: 1080px;
  margin-top: 44px;
  margin-bottom: 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}

.u-section-1 .u-back-slide-1 {
  transition-duration: 2s;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-2 {
  transition-duration: 2s;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-3 {
  transition-duration: 2s;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-4 {
  transition-duration: 2s;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-5 {
  transition-duration: 2s;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-6 {
  transition-duration: 2s;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-7 {
  transition-duration: 2s;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-8 {
  transition-duration: 2s;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-9 {
  transition-duration: 2s;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-10 {
  transition-duration: 2s;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-11 {
  transition-duration: 2s;
}

.u-section-1 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-12 {
  transition-duration: 2s;
}

.u-section-1 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-back-slide-13 {
  transition-duration: 2s;
}

.u-section-1 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 509px;
    height: 467px;
    margin-right: -39px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -530px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 562px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5rem;
    width: auto;
    margin-right: -164px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 19px;
    height: 454px;
    width: 454px;
  }

  .u-section-1 .u-gallery-1 {
    height: 891px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 383px;
    height: 373px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -435px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: -121px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 545px;
  }

  .u-section-1 .u-image-1 {
    height: 318px;
    width: 318px;
    margin-top: 73px;
    margin-right: 7px;
    margin-left: auto;
  }

  .u-section-1 .u-gallery-1 {
    height: 2389px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 593px;
    height: 543px;
    margin-top: 763px;
    margin-left: -26px;
    margin-right: -26px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1245px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 621px;
  }

  .u-section-1 .u-image-1 {
    height: 511px;
    width: 511px;
    margin-top: 33px;
    margin-right: 29px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-1 {
    height: 6655px;
    margin-top: 60px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 386px;
    height: 365px;
    margin-top: 615px;
    margin-left: -23px;
    margin-right: -23px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -919px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-1 .u-image-1 {
    height: 330px;
    width: 330px;
    margin-right: 7px;
    margin-left: auto;
  }

  .u-section-1 .u-gallery-1 {
    height: 4190px;
    margin-top: 19px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 641px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 60px auto 0;
}

.u-section-2 .u-image-1 {
  width: 166px;
  height: 166px;
  background-image: url("images/pexels-photo-3760851.jpeg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 20px auto 0 487px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 20px 530px 0 531px;
}

.u-section-2 .u-text-3 {
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 20px 522px 0;
}

.u-section-2 .u-text-5 {
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 18px 487px 0;
}

.u-section-2 .u-text-7 {
  animation-duration: 1000ms;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: auto;
    margin-right: 430px;
  }

  .u-section-2 .u-text-4 {
    margin-left: auto;
    margin-right: 422px;
  }

  .u-section-2 .u-text-6 {
    margin-left: auto;
    margin-right: 387px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 320px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 312px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 277px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 230px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 222px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 187px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-image-1 {
    margin-left: 87px;
  }

  .u-section-2 .u-text-2 {
    width: 210px;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: 218px;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    width: 253px;
    margin-right: auto;
  }
}